<div class="feed-post" *ngIf="!postBody">
  <div class="start-post" (click)="showPostBody()">
    <button id="new-post">Start a new blog post!</button>
  </div>
</div>



<div class="post-body" *ngIf="postBody">
  <editor [apiKey]="apiKey" [formControl]="post" [init]="{plugins: 'link'}"></editor>
  <button id="submit-post"(click)="createPost(); postSubmitted(post.value);" routerLink='..'>Share</button>
  <div *ngIf="post.value"class="preview">
    <div class="">Post Preview: <br></div>
    <div [innerHTML]="post.value"></div>
  </div>
</div>
