.main{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.repo-card{
  height: 500px;
  width: 1000px;
  border: solid blue 3px;
  border-radius: 5px;
}

.button{
  margin: auto;
}
