<h1 class="header">GitHug</h1>
<p>A blogging site built by programmers for programmers</p>
<input #username placeholder='gethub username'>
<button routerLink='users/{{username.value}}'>Login</button>
<!-- <div class="login-area">
  <input #userName placeholder="User Name">
  <input #password placeholder="Password">
  <div class="buttons">
    <button (click)="login(userName.value, password.value)">login</button>
  </div>
</div>

<div class="registration">
  <input #email placeholder="email address">
  <input #userName placeholder="User Name">
  <input #github placeholder="github username">
  <input #password placeholder="Password">
  <button (click)="createAccount(email.value, userName.value, github.value, password.value); clearForm();">Signup!</button>
</div>

<app-github-login></app-github-login> -->
