<div class="profile-tile">
  <div class="tile-top">
    <img id="profile-picture" src="{{userProfile.avatar_url}}" alt="">
  </div>
  <div class="tile-mid">
    <h2>{{userProfile.name}}</h2>
    <p>{{userProfile.bio}}</p>
    <div class="project-selector">
      <select #repoSelector >
        <option *ngFor='let repo of githubRepos' value='{{repo.name}}'>{{repo.name}}</option>
      </select>
      <br>
      <button type="button" (click)="selectRepo(repoSelector.value)">Add Repo</button>
    </div>
  </div>
</div>
