<div class="profile-tile">
  <div *ngIf='userProfile' class="tile-top">
    <img id="profile-picture" src="/assets/images/profile-picture.jpg" alt="">
    <h3>{{userProfile[0].userName}}</h3>
    <h5>Gym, Music, Coding</h5>
  </div>
  <div class="tile-mid">
    <p>A little bit about you</p>
  </div>
  <div class="tile-bottom">
    <p>Friends: 204</p>
    <p>About Jack</p>
  </div>
</div>
<div >
  <select #repoSelector >
    <option *ngFor='let repo of githubRepos' value='{{repo.name}}'>{{repo.name}}</option>
  </select>
  <button type="button" (click)="selectRepo(repoSelector.value)">Add Repo</button>
</div>
<app-github-login></app-github-login>

<button (click)="getUser()" type="button" name="button">GEt User</button>
<app-repo-list></app-repo-list>
