.profile-tile{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 10%;
  margin-top: 10%;
  font-family: 'Source Sans Pro', sans-serif;
}

.tile-top{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
  height: 2%;
}

#profile-picture{
  height: 200px;
  width: 200px;
  border-radius: 5%;
}

.tile-mid{
  display: flex;
  width: 200px;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  height: 2%;
  text-align: center;
  border-top: solid gray 1px;
}

.tile-bottom{
  display: flex;
  width: 200px;
  align-content: center;
  justify-content: space-around;
  height: 2%;
  border-top: solid gray 1px;
  color: #4189fc;
  font-weight: bold;
}
