<div class="profile-tile">
  <!-- <div *ngIf='userProfile' class="tile-top"> -->
  <div class="tile-top">
    <img id="profile-picture" src="/assets/images/profile-picture.jpg" alt="">
    <h3>{{userProfile[0].userName}}</h3>
  </div>
  <div class="tile-mid">
    <p>*GitHub biographical info will go here*</p>
  </div>
  <div class="tile-bottom">
    <p>*Repo count here: 123*</p>
  </div>
</div>
<div >
  <select #repoSelector >
    <option *ngFor='let repo of githubRepos' value='{{repo.name}}'>{{repo.name}}</option>
  </select>
  <button type="button" (click)="selectRepo(repoSelector.value)">Add Repo</button>
</div>
<app-github-login></app-github-login>

<button (click)="getUser()" type="button" name="button">GEt User</button>
<app-repo-list></app-repo-list>
