

.post{
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 5px;
  border: 1px solid gray;
  border-radius: 10px;
  margin-left: 30%;
  margin-top: 25px;
  margin-bottom: 50px;
}

.post-actions{
  display: flex;
  justify-content: space-around;
  margin-top: 5%;
}
